.idea/feup-laig.iml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
Project1/.idea/modules.xml
Project1/.idea/Project1.iml
Project1/.idea/vcs.xml
Project1/.idea/workspace.xml
LAIG3_T5_G13.zip
readme.txt